@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header_active {
  @apply backdrop-blur-[10px];
  background: rgba(255, 255, 255, 0.15);
}

.logo {
  @apply w-10 h-10 flex items-center justify-center cursor-pointer rounded-[50%] text-black font-bold;
  background-color: #fff;
}

.hoverLayer {
  @apply rounded-full bg-opacity-80 bg-orange-700 cursor-pointer items-center flex absolute w-full h-full gap-6 left-0 top-0 z-[5] justify-center;
}
